.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: var(--color-primary);

  & > * {
    color: white;
  }

  &__go-top {
    cursor: pointer;
    font-weight: 700;
  }
  &__arrow {
    margin-left: 5px;
  }
}
