.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;

  &__one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    @include media(">tablet") {
      flex: 2;
      padding-right: 100px;
    }
  }

  &__heading {
    @include media(">tablet") {
      font-size: 55px;
      line-height: 50px;
    }
  }

  &__paragraph {
    padding-bottom: 20px;

    @include media(">tablet") {
      max-width: 400px;
      font-size: 18px;
    }
  }

  &__img {
    display: none;

    @include media(">tablet") {
      flex: 1;
      display: initial;
      max-width: 350px;
    }
    @include media(">950px") {
      flex: 1;
      display: initial;
      max-width: 550px;
    }
  }

  &__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  }

  &__partnership-paragraph {
    font-size: 18px;
  }

  &__partnership-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__partnership-logo {
    margin: 0 40px 20px 0;
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;

    @include media(">tablet") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;

      @include media(">tablet") {
        margin: 50px;
      }
    }

    &-title {
      align-self: center;
      font-size: 37px;
      font-weight: bolder;
      color: var(--color-primary);
    }

    &-span {
      align-self: center;
      width: 150px;
      text-align: center;
    }
  }
}