.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;

  &-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-text {
    @include media(">tablet") {
      flex: 2;
      padding-right: 100px;
    }
  }
  &-heading {
    @include media(">tablet") {
      font-size: 55px;
      line-height: 50px;
    }
  }
  &-paragraph {
    padding-bottom: 20px;

    @include media(">tablet") {
      max-width: 400px;
      font-size: 18px;
    }
  }
  &-button {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-gray-light);
    background-color: var(--color-red);
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  &-img {
    display: none;

    @include media(">tablet") {
      flex: 1;
      display: initial;
      max-width: 350px;
    }
    @include media(">950px") {
      flex: 1;
      display: initial;
      max-width: 550px;
    }
  }

  &-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
  }
  &-partnership__paragraph {
    font-size: 18px;
  }
  &-partnership__logo {
    margin-right: 40px;
  }
  &-numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 900px;

    @include media(">tablet") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;

      @include media(">tablet") {
        margin: 50px;
      }
    }
    &__title {
      align-self: center;
      font-size: 37px;
      font-weight: bolder;
      color: var(--color-purple);
    }
    &__span {
      align-self: center;
      width: 150px;
      text-align: center;
    }
  }
}