:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light;
  color: #121212;;
  background-color: var(--color-gray-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray: rgba(18, 18, 18, 0.5);
  --color-gray-light: #F6FAFB;
  --color-primary: #4957D4;
}

body {
  margin: 0;
}

main {
  flex-direction: column;
  margin: 0 10px;

  @include media(">desktop") {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 20px;
  list-style: none;
}

li::before {
  content: "";
  height: 6px;
  width: 6px;
  display: inline-block;
  background: var(--color-primary);
  margin-right: 6px;
  vertical-align: 2px;
  border-radius: 50%;
  margin-left: -12px;
}

#app {
  position: relative;
}
#app::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100px;
  background-color: var(--color-primary);
}